
verde = #12a7cb


lato  =   'Lato', sans-serif;

*
	margin 0px
	padding 0px

h2
	font-size 18px
	font-family lato




.cnt-general
	max-width 960px
	width 96%
	margin auto

header
	background verde
	overflow hidden
	padding 15px 0px
	.alto_header
		height 40px
	.user
		color white
		float left
		font-size 18px
		font-family lato
		h2
			margin-top 10px

	.menu
		color white
		float right
		.usuario
			display  inline-block
			h2
				display inline-block
				margin-right 5px
			img
				display inline-block
				border-radius 50%
		a
			color white
			margin-left 5px
			text-decoration none
			font-size 16px
			font-weight 700
			font-family lato
		&:hover
			a
				text-decoration underline
.agregar-pregunta
	margin-top  30px
	form
		input
			margin auto
			padding-left 5px
			display block
			width 300px
			height 30px
			border 1px solid #B3B3B3
			margin-bottom 20px
		textarea
			margin auto
			padding-left 5px
			display block
			width 300px
			height 250px
			border 1px solid #B3B3B3
		button
			cursor pointer
			margin auto
			display block
			margin-top 20px
			width 105 px
			background verde
			color white
			font-size 16px
			font-family lato
			border none
			padding 5px 15px
			border 1px solid transparent
			transition 0.2s ease all
			&:hover
				background white
				border 1px solid verde
				color verde
.cnt-preguntas
	.grupo-enlaces
		ul
			font-size 0px
			li
				display inline-block
				a
					color verde
					display block
					border 1px solid verde
					font-size 16px
					padding 5px
					transition 0.2s ease all
					text-decoration none
					font-family lato
			li:hover
				a
					color white
					background verde
					border 1px solid transparent
	.todas-preguntas
		margin-top 30px
		margin-bottom 60px
		.preguntas

			margin-top 30px
			figure
				display inline-block
				width 80px
				height 80px
				border 1px solid red
				margin-right 20px
				border-radius 50%
				img
					display block
					width 100%
					height auto
			.cnt-texto
				display inline-block
				max-width 600px
				vertical-align top
				.usuario-fecha
					overflow hidden
					h3
						color verde
						font-size 18px
						font-weight 700
						float left
						font-family lato
					h4
						float right
						color verde
						font-size 18px
						font-weight 700
						font-family lato
				.texto
					margin-top 10px
					text-align justify
					p
						font-family lato
						font-size 16px
				.like-favoritos
					float right
					margin-top 15px
					.like
						cursor pointer
						padding 3px 8px
						display inline-block
						color white
						background verde
						border 1px solid verte
						transition 0.2s ease all
						&:hover
							background white
							color verde
					.favorito
						cursor pointer
						padding 3px 8px
						display inline-block
						color white
						background verde
						border 1px solid verte
						transition 0.2s ease all
						&:hover
							background white
							color verde
