{% extends '../base.html' %}


{% block content %}


{% if full_name %}
<section class="agregar-pregunta">
		<div class="cnt-general">
			<form action="/guardar-pregunta/" method="POST">
				<input type="text" placeholder="Titulo">
				<textarea name="" placeholder="Contenido" id="" cols="30" rows="10"></textarea>
				<button>Preguntar</button>
			</form>
		</div>
</section>
{% endif %}
<section class="cnt-preguntas">
	<div class="cnt-general">
	<br></br>
			<div class="grupo-enlaces">
				<ul>
					<li><a href="">todas</a></li>
					<li><a href="">top 5</a></li>
					<li><a href="">favoritas</a></li>
				</ul>
			</div>
			<div class="todas-preguntas">
				<div class="preguntas">
					<figure>
						<img src="" width="80" height="80" alt="">
					</figure>
					<div class="cnt-texto">
						<div class="usuario-fecha">
								<h3>usuario</h3>
								<h4>12 mins ago</h4>
						</div>
						<div class="texto">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, pariatur placeat! Repellat saepe eum sequi unde, qui consequatur, ea aut, nobis laboriosam corrupti reprehenderit! Laborum distinctio, cumque nesciunt minus at.</p>
						</div>
						<div class="like-favoritos">
							<div class="like">
								Like
							</div>
							<div class="favorito">
								Favorito
							</div>
						</div>
					</div>

				</div>
				<div class="preguntas">
					<figure>
						<img src="" width="80" height="80" alt="">
					</figure>
					<div class="cnt-texto">
						<div class="usuario-fecha">
								<h3>usuario</h3>
								<h4>12 mins ago</h4>
						</div>
						<div class="texto">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, pariatur placeat! Repellat saepe eum sequi unde, qui consequatur, ea aut, nobis laboriosam corrupti reprehenderit! Laborum distinctio, cumque nesciunt minus at.</p>
						</div>
						<div class="like-favoritos">
							<div class="like">
								Like
							</div>
							<div class="favorito">
								Favorito
							</div>
						</div>
					</div>

				</div>
				<div class="preguntas">
					<figure>
						<img src="" width="80" height="80" alt="">
					</figure>
					<div class="cnt-texto">
						<div class="usuario-fecha">
								<h3>usuario</h3>
								<h4>12 mins ago</h4>
						</div>
						<div class="texto">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, pariatur placeat! Repellat saepe eum sequi unde, qui consequatur, ea aut, nobis laboriosam corrupti reprehenderit! Laborum distinctio, cumque nesciunt minus at.</p>
						</div>
						<div class="like-favoritos">
							<div class="like">
								Like
							</div>
							<div class="favorito">
								Favorito
							</div>
						</div>
					</div>

				</div>
				<div class="preguntas">
					<figure>
						<img src="" width="80" height="80" alt="">
					</figure>
					<div class="cnt-texto">
						<div class="usuario-fecha">
								<h3>usuario</h3>
								<h4>12 mins ago</h4>
						</div>
						<div class="texto">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, pariatur placeat! Repellat saepe eum sequi unde, qui consequatur, ea aut, nobis laboriosam corrupti reprehenderit! Laborum distinctio, cumque nesciunt minus at.</p>
						</div>
						<div class="like-favoritos">
							<div class="like">
								Like
							</div>
							<div class="favorito">
								Favorito
							</div>
						</div>
					</div>

				</div>
			</div>

	</div>
</section>

{% endblock %}
